{% extends "lectures/base.html" %}

{% load i18n %}
{% load avatar_tags %}

{% block head_title %}{% blocktrans %} Lecture session {% endblocktrans %}{{ lecture.id }}{% endblock %}
{% block extra_head_base %}
	<link rel="stylesheet" href="{{ STATIC_URL }}lectures/lecture_session.css" />
	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/themes/base/jquery-ui.css" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}CLEditor/jquery.cleditor.css" />
	<script  type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>    
{% endblock %}

{% block body_class %}lecture_session{% endblock %}

{% block body %}
	<div id="lecture_session_slider">
		<div id="lecture_id"> <h1>Id: <b>{{ lecture.id }}</b><h1></div>
		<h1> {{ lecture.title }} </h1>
		<ul id="session_updates_container">
			{% for update in updates_list %}
				<li class="session_update">
					<input type="hidden" name="session_update_id" value="{{ update.id }}"/>
					{% avatar update.created_by 32 %}
					<div class="user_data">
						<p><a href=".">{{ update.created_by }}</a></p>
						<p>4.6/5</p>
					</div>
					<div class="update_time">
						<p>{{ update.saved_at|date:"H:m:s" }}</p>
					</div>
				</li>
			{% endfor %}
		</ul>
	</div>
	
	<a id="lecture_session_slider_trigger" href="#">Session Updates</a>
	<div id="lecture_session_container">
		<div class="notes_container">
			<div class="notes_container_header">
				Your notes
			</div>
			<div class="textarea_div">	
				<textarea class="note_text">{{ user_text }}</textarea>
				<div id="note_status">
					
				</div>
			</div>				
		</div>
	</div>
	
	<div id="toolbox_container" class="accordion_container">
		<div class="notes_container_header">
			Content Toolbox
		</div>
		<div id="toolbox_container" style="height:100%; width:100%;">
			<div id="toolbox_accordion">
				<h3><a href="#">Key-Terms</a></h3>
				<div>
					<ul id="keyterms_container">
					</ul>
				</div>
				<h3><a href="#">Nopsa Database</a></h3>
				<div>
					<div id="nopsa_images">
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block extra_body %}
	<!-- <script type="text/javascript" src="http://js.nicedit.com/nicEdit-latest.js"></script> -->
	<!-- <script type="text/javascript" src="{{ STATIC_URL }}tiny_mce/tiny_mce.js"></script> -->
	<script type="text/javascript" src="{{ STATIC_URL }}CLEditor/jquery.cleditor.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}CLEditor/jquery.cleditor.table.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}CLEditor/jquery.cleditor.save.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}lectures/jspos/POSTagger.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}lectures/jspos/lexicon.js_"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}lectures/keyword_finding.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}lectures/lecture_session.js"></script>
{% endblock %}