body.profile #tab_profile,
body.profile_all #tab_profile,
body.profile_yours #tab_profile,
body.notices #tab_notices,
body.lectures #tab_lectures,
body.lecture_list #tab_lectures,
body.lecture_create #tab_lectures,
body.lecture_session #tab_lectures,
body.lecture_details #tab_lectures
{
	background: #BBCC99;	/*selected topnav tab*/
    border-color: #666;
}
body.profile_all #subnav_profile_all,
body.profile_yours #subnav_profile_yours,
body.account_email #subnav_account_email,
body.account_password #subnav_account_password,
body.account_timezone #subnav_account_timezone,
body.account_openid #subnav_account_openid,
body.account_language #subnav_account_language,
body.account_avatar #subnav_account_avatar,
body.lecture_list #subnav_lecture_list,
body.lecture_create #subnav_lecture_create
{
	color: #000;			/*selected subnav tab*/
    background: #AA8888;
    border: 1px solid #666;
    border-bottom: none;
	padding: 4px 9px; 	    /*decreased padding with 1px to compensate for border*/
}