{% extends "basic_profiles/base.html" %}

{% load i18n %}
{% load uni_form %}
{% load avatar_tags %}

{% block head_title %}{% blocktrans %}Profile for {{ other_user }}{% endblocktrans %}{% endblock %}
{% block body_class %}profile_yours{% endblock %}

{% block body %}
    
    <div class="right_panel">
        {% include "basic_profiles/profile_right_panel.html" %}
    </div>
    <div class="profile_wrapper">
	    <div class="{% if other_user.get_profile.is_lecturer %}profile_lecturer_data{% else %}profile_student_data{% endif %}">
	        {% if other_user.get_profile.name %}
	            <h2>{% blocktrans %}Profile for <b>{{ other_user }}</b> {% endblocktrans %}</h2>
	        {% else %}
	            <h2>{% blocktrans %}Profile for <b>{{ other_user }}</b> {% endblocktrans %}</h2>
	        {% endif %}
	        
	        <div class="avatar">
	        	{% if is_me %}
		        	<a href="/avatar/change/">
		        		{% avatar other_user 150 %}
		        	</a>
		        {% else %}
		        	{% avatar other_user 150 %}
		        {% endif %}
	        </div>
	        
	        <div class="profile_info">
	            <p><b>{% trans "Name:" %}</b>{% if other_user.get_profile.name %} <span class="fn">{{ other_user.get_profile.name }}</span>{% else %} - {% endif %}</p>
	            <p><b>{% trans "Faculty:" %}</b>{% if other_user.get_profile.specialization %} <span class="fn">{{ other_user.get_profile.specialization }}</span>{% else %} - {% endif %}</p>
	            <p><b>{% trans "University:" %}</b>{% if other_user.get_profile.university %} <span class="fn">{{ other_user.get_profile.university }}</span>{% else %} - {% endif %}</p>
	            <p><b>{% trans "Member Since:" %}</b> {{ other_user.date_joined.date }}</p>           
	        </div>
	                
	        <div class="profile_info_extra">
	        	{% if other_user.get_profile.fields_of_interest %}<p><b>{% trans "Fields of Interest:" %}</b><br/>{{ other_user.get_profile.fields_of_interest }}</p>{% endif %}
	     		{% if other_user.get_profile.about %}<p><b>{% trans "About:" %}</b><br />{{ other_user.get_profile.about }}</p>{% endif %} 
	        </div>
	        
	        {% if is_me %}
	            <p><a href="{% url profile_edit %}">Edit profile</a></p>
	        {% endif %}
	        
	    </div><!--/vcard-->
	    
	    {% if other_user.get_profile.is_lecturer %}
	    <div class="profile_lecturer_notes">
	    	<h2>{% blocktrans %} <b>{{ other_user }}</b>'s sessions: {% endblocktrans %}</h2>
		    	{% for lecture in lectures %}
			    	<div class="profile_user_note_item">
			    		  {% ifequal lecture.state 'a'%}			    		  
			    		  	 <a href="{% url lecture_session lecture.id%}"> <h3><b> {{ lecture.title }} </b></h3></a>
			    		  {% else %}
			    		  	 <a href="{% url lecture_detail lecture.id%}"> <h3><b> {{ lecture.title }} </b></h3></a>
			    		  {% endifequal%}
			    		  <h5><b>{% trans "Created on:" %}</b> {{lecture.created_at|date:"H:m:s"  }} </h5>
			    		  <h5><b>{% trans "Lecturer:" %}</b> <a href="{% url profile_detail lecture.created_by%}">{{ lecture.created_by }}</a></h5>
			    		  <p>
			    		  		{{ lecture.description }}
			    		  </p>  	  	
			    	</div> 
		    	{% endfor %}
	    </div>
	    {% else %}	
	    <div class="profile_student_notes">
	    	<h2>{% blocktrans %} <b>{{ other_user }}</b>'s notes: {% endblocktrans %}</h2>
			    {% for lecture_note in notes %}
			    	<div class="profile_user_note_item">
			    		<a href="{% url lecture_detail lecture_note.lecture.id %}"> <h3><b> {{ lecture_note.lecture.title }} </b></h3></a>
		    			<h5><b>{% trans "Last saved:" %}</b> {{ lecture_note.saved_at|date:"M/d/Y H:m:s" }}</h5>
		    			<h5><b>{% trans "Note content:" %}</b> <a href="{% url lecture_note_details lecture_note.lecture.id lecture_note.id %}"> note details </a> </h5>
		    			<p>
			    			{{ lecture_note.text|striptags|truncatewords:30 }}
			    		</p>     	  	
			    	</div>
			    {% endfor %}
    	</div>
    	{% endif %}	
{% endblock %}


{% block extra_body %}
    <script type="text/javascript">
    </script>
{% endblock %}