{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block body %}
    
    <h1>{% trans "Welcome to SoLeNo" %}</h1>
    
    <p>
        {% blocktrans %}
	        <b>SoLeNo</b> is a web platform aimed at enhancing the student learning experience
	        by providing a dynamic environment in which he/she can write, compare, share 
	        and enrich notes taken during courses. The application provides an innovative 
	        way of distributing images to the end-users based on content in their currently 
	        editing lecture notes. All of these features are embedded in a socially-rich 
	        environment, where users are rated and elevated in the community based on the 
	        quality of their course notes. 
        {% endblocktrans %}
    </p>

    <hr />
    {% if user.is_authenticated %}
    	{% blocktrans %}
        	<p> Welcome to SoLeNo </p>
        {% endblocktrans %}
    {% else %}
        {% url acct_login as login_url %}
        {% ifsetting ACCOUNT_OPEN_SIGNUP %}
            {% url acct_signup as signup_url %}
            <p>{% blocktrans %}You can <a href="{{ signup_url }}">Sign up</a> and <a href="{{ login_url }}">Log in</a> to try out the site.{% endblocktrans %}</p>
        {% else %}
            <p>{% blocktrans %}You can <a href="{{ login_url }}">Log in</a> to try out the site.{% endblocktrans %}</p>
        {% endifsetting %}
    {% endif %}
    
{% endblock %}
