{% load i18n %}
{% load pagination_tags %}
{% load humanize %}
{% load avatar_tags %}

<div class="profile_item">
     <div class="profile_item_avatar">
	 	{% avatar user 50 %}
	 </div>
	 <p><a  class="{% if user.get_profile.is_lecturer %}profile_item_lecturer{% else %}profile_item_student{% endif %}" href="{% url profile_detail user.username %}">{{ user }}</a></p>
     {% if user.get_profile.name %}<p><span class="fn">{{ user.get_profile.name }}</span></p>{% endif %}
     {% if user.get_profile.university %}<p><b><span class="fn">{{ user.get_profile.university }}</span></b></p>{% endif %}
     {% if user.get_profile.major %}<p><span class="fn">{{ user.get_profile.major }}</span></p>{% endif %}
</div>